.split {
    height: 92%;
    position: fixed;
    z-index: 1;
    top: 20px;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 20px;
  }
  .left {
    left: 155;
    width: 25%;
    background-color: #eae3e3e1;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .right {
    right: 155;
    width: 55%;
    background-color: #eaeaea;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .centered img {
    width: 150px;
    border-radius: 25px;
  }
  .button {
    background-color: #4046ef;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    height: 20px;
  }
  .buttons {
    right: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }
  .description {
    padding-left: 50px;
    font-size: 18px;
  }
  .space {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    left: 10px;
    right: 10px;
  }
  .spaces {
    background-color: #aeaaff;
    border-radius: 15px;
    text-align: center;
    min-height: 125px;
  }
